@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">Here is your list of tasks to do. You are able to: add new tasks, edit existing tasks, mark them as complete, or delete them if you no longer need them.</p>
</div>

@*<ul role="tablist" class="nav nav-tabs">
    <li class="active" role="presentation">
        <a role="tab" href tabindex="0" aria-selected="true">Outstanding</a>
    </li>
    <li class role="presentation">
        <a role="tab" href tabindex="-1" aria-selected="false">Completed</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" aria-hidden="false" class="tab-pane fade active in">
        
    </div>
</div>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>Task #</th>
            <th>Task Name</th>
            <th>Task Due Date</th>
            <th />
            <th />
            <th />
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">4</th>
            <td>Get Milk</td>
            <td>05/19/2016</td>
            <td>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Details/Edit</span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                    <span>Done</span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button id="AddTaskModalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add Task</span>
</button>

<!-- New Task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="taskModalLabel">New Task</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="taskName">Task Name</label>
                        <input type="text" class="form-control" id="taskName" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="taskDueDate">Due Date</label>
                        <input type="date" class="form-control" id="taskDudeDate" placeholder="MM/DD/YYYY" />
                    </div>
                    <div class="form-group">
                        <label for="taskNotes">Notes</label>
                        <input type="text" class="form-control" id="taskNotes" placeholder="Notes..." />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span>Cancel</span>
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>